<!DOCTYPE html>
<html>
    <head>
        <title>User Details </title>
    </head>
    <style>
        table, th, td {
          border:1px solid black;
        }
        </style>
    <body>
        <table style="width:100%">
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Password</th>
        <th>Action</th>
    </tr>

    {% for participant in data %}
    <tr>
        <td>{{ participant[0] }}</td>
        <td>{{ participant[1] }}</td>
        <td>{{ participant[2] }}</td>
        <td>{{ participant[3] }}</td>

        <td>
            <a href="{{ url_for('delete_user', user_id=participant[0]) }}">
                Delete
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
    </body>
</html>